@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.font-roboto-200{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 200;
}
.font-roboto-300{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
}
.font-roboto-400{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
}
.font-roboto-500{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
}
.font-roboto-600{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 600;
}
.font-roboto-700{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
}

.font-raleway-700 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
  }
  .font-raleway-600 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }

.font-sans-200{
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
}
.font-sans-300{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
.font-sans-400{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.font-sans-500{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}
.font-sans-600{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.font-sans-700{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
.font-sans-800{
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}